[submodule "2-python-introduction-math_operators-vionapinto"]
	path = 2-python-introduction-math_operators-vionapinto
	url = git@github.com:fbw-p22-e3-assignments/2-python-introduction-math_operators-vionapinto.git
[submodule "1-python-introduction-hello_world_and_comments-vionapinto"]
	path = 1-python-introduction-hello_world_and_comments-vionapinto
	url = git@github.com:fbw-p22-e3-assignments/1-python-introduction-hello_world_and_comments-vionapinto.git
