[submodule "2-python-introduction-math_operators-vionapinto"]
	path = 2-python-introduction-math_operators-vionapinto
	url = git@github.com:fbw-p22-e3-assignments/2-python-introduction-math_operators-vionapinto.git
[submodule "1-python-introduction-hello_world_and_comments-vionapinto"]
	path = 1-python-introduction-hello_world_and_comments-vionapinto
	url = git@github.com:fbw-p22-e3-assignments/1-python-introduction-hello_world_and_comments-vionapinto.git
[submodule "3-python-introduction-basic_contr-vionapinto"]
	path = 3-python-introduction-basic_contr-vionapinto
	url = git@github.com:fbw-p22-e3-assignments/3-python-introduction-basic_contr-vionapinto.git
[submodule "4-python-introduction-comparison_operators-vionapinto"]
	path = 4-python-introduction-comparison_operators-vionapinto
	url = git@github.com:fbw-p22-e3-assignments/4-python-introduction-comparison_operators-vionapinto.git
[submodule "5-python-introduction-conditional_statements-vionapinto"]
	path = 5-python-introduction-conditional_statements-vionapinto
	url = git@github.com:fbw-p22-e3-assignments/5-python-introduction-conditional_statements-vionapinto.git
